*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

#Android generated
bin
gen

local.properties
.idea/
/.idea/*.*
*.iml
**/*.iml

.DS_Store
**/*.DS_Store

#gradle
.gradle
gradle
.gradle/*.*
build/
**/build

proguardMapping.txt



